<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/validate.css') }}">
    <title>Document</title>
</head>
<body>
    <form action="/validate?email={{ email }}" method="post">
        <div class="container">
            <h3>verification code has been send to this mail {{email}}</h3>
            <label for="otp" class="heading">OTP</label>
            <input type="tel" name="otp" pattern="[0-9]{6}">
            <button class="submit_btn">Submit</button>
        </div>
        
    </form>
</body>
</html>